section.drap-drop
  .container
    .drap-drop__content
      .demonstrate
        .progress
          .demonstrate-head.demonstrate-head__progress
            .demonstrate-head__title In Progress <span>(3)<span>
            .demonstrate-head__arrow
              img(src="assets/img/icons/arrow_right.png", alt="arrow right")
          .demonstrate-content
            .demontrate-content__top
              img(src="assets/img/inProgress.png", alt="in progress")
            .demonstrate-content__bottom
              .demonstrate-content__bottom-wrap
                img#task(src="assets/img/task.png", alt="task")
        .completed
          .demonstrate-head.demontrate-head__completed
            .demonstrate-head__title Completed <span>(2)<span>
            .demonstrate-content
              .demontrate-content__top
                img(src="assets/img/done.png", alt="done")
              .demonstrate-content__bottom.demonstrate-content__bottom-completed
                .demonstrate-content__drop-block Drop here
      .slider
        .slider-container
          .slider-item
            .title.slider-item__title Drag & Drop
            p.descr.slider-item__descr
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <br> 
              | eiusmod tempor incididunt ut labore et dolore magna aliqua. <br><br>
              | Ut enim ad minim veniam, quis nostrud exercitation ullamco <br> laboris nisi ut aliquip ex ea commodo consequat.
            .slider-item-arrows
              .slider-item-arrows__left
                img(src="assets/img/icons/slider_arrow_left.png", alt="arrow_left")
              .slider-item-arrows__right
                img(src="assets/img/icons/slider_arrow_left.png", alt="arrow_right")
