section.footer
  .container
    .footer__inner
      .copyright  © 2016 Merkury All Right Reserved
      .footer__panel
        ul.menu.menu__footer
          li.menu__list
            a.menu__link(href="") Pricing
          li.menu__list
            a.menu__link(href="") Blog
          li.menu__list
            a.menu__link(href="") Contact
        .socials
          .socials__icon
            a(href="")
              img(src="assets/img/icons/fb.png", alt="fb")
          .socials__icon
            a(href="")
              img(src="assets/img/icons/twit.png", alt="twit")
          .socials__icon
            a(href="")
              img(src="assets/img/icons/ggl.png", alt="ggl")
