.form-bg
  .form-wrap
    #cross.cross
      span
    .thanks Спасибо !
    form(name="test" method="post").form
      .form__item
        label Имя
        input( placeholder="Введите имя" name='Имя' type='text')
      .form__item
        label Номер телефона
        input(placeholder="Введите телефон" name="Телефон" type="phone")
      button#submit.btn Отправить!