section.main
  .main-block__top
    .container
      header.header
        .logo
          img(src="assets/img/icons/logo.png" alt="logo")
        .burger
          span
        .header__panel
          ul.menu
            li.menu__list
              a.menu__link(href="") Features
            li.menu__list
              a.menu__link(href="") Pricing
            li.menu__list
              a.menu__link(href="") Blog
            li.menu__list
              a.menu__link(href="") Contact
          #login.login Login
      .main__content
        h1.title.title__main Grow Your business with Merkury
        .subtitle Your partner in crime!
        button.btn.btn__main Get started
      .img-app
        img(src="assets/img/app.png", alt="app")
  .main-block__bottom
    .container
      .advantages
        .advantages-item
          .advantages-item__icon
            svg(class="icon icon__diagr")
                use(xlink:href="assets/img/icons/sprite.svg#blocks")
          .advantages-item__title Manage Your Workflow
          p.advantages-item__descr
           | Lorem ipsum dolor sit amet, consectetur <br> 
           | adipisicing elit, sed do eiusmod tempor <br> 
           | incididunt ut labore et dolore magna aliqua.
          button.advantages-item__btn See more
        .advantages-line-wrap
          .advantages-line.advantages-line__one
        .advantages-item
          .advantages-item__icon
            svg(class="icon icon__diagr")
                use(xlink:href="assets/img/icons/sprite.svg#diagr")
          .advantages-item__title Analytics & Insights
          p.advantages-item__descr
           | Lorem ipsum dolor sit amet, consectetur <br> 
           | adipisicing elit, sed do eiusmod tempor <br> 
           | incididunt ut labore et dolore magna aliqua.
          button.advantages-item__btn See more
        .advantages-line-wrap
          .advantages-line.advantages-line__two
        .advantages-item
          .advantages-item__icon
            svg(class="icon icon__calendar")
                use(xlink:href="assets/img/icons/sprite.svg#calendar")
          .advantages-item__title Organize Your Deadlines
          p.advantages-item__descr
           | Lorem ipsum dolor sit amet, consectetur <br> 
           | adipisicing elit, sed do eiusmod tempor <br> 
           | incididunt ut labore et dolore magna aliqua.
          button.advantages-item__btn See more