section.prices
  .container
    h2.title Check our pricing!
    .cards
      .cards-item
        .cards-item__title BRONZE PLAN
        .cards-item-price-wrap
          .cards-item-price <span class="dollar">$</span> <span class="cost">19</span> <span class="period">/mon</span>
        ul.cards-item-list
          li.cards-item-list__item Lorem ipsum dolor sit am
          li.cards-item-list__item Lorem ipsum dolor sit am
          li.cards-item-list__item Lorem ipsum dolor sit am
          li.cards-item-list__item Lorem ipsum dolor sit am
      .cards-item
        .cards-item__title SILVER PLAN
        .cards-item-price-wrap
          .cards-item-price <span class="dollar">$</span><span class="cost">49</span> <span class="period">/mon</span>
        ul.cards-item-list
          li.cards-item-list__item Lorem ipsum dolor sit am
          li.cards-item-list__item Lorem ipsum dolor sit am
          li.cards-item-list__item Lorem ipsum dolor sit am
          li.cards-item-list__item Lorem ipsum dolor sit am
      .cards-item
        .cards-item__title GOLD PLAN
        .cards-item-price-wrap
          .cards-item-price <span class="dollar">$</span> <span class="cost">99</span> <span class="period">/mon</span>
        ul.cards-item-list
          li.cards-item-list__item Lorem ipsum dolor sit am
          li.cards-item-list__item Lorem ipsum dolor sit am
          li.cards-item-list__item Lorem ipsum dolor sit am
          li.cards-item-list__item Lorem ipsum dolor sit am
    .descr.descr__prices
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore <br>
      | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
    .btn.btn__prices Join now!