section.template
  .container.container__template
    h2.title Powerfull PSD Template
    p.descr.descr__template
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> 
      | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .presentation
      .presentation__img-wrap
        img(src="assets/img/screen_mockup.png", alt="screen mockup")
      .presentation-point.presentation-point__left
        .presentation-point__title Clean & modern layout
        .presentation-point-designator-wrap
          .presentation-point-designator__line
          .presentation-point-designator-marker
            .presentation-point-designator-marker__circle
        p.descr.presentation-point__descr 
          | Lorem ipsum dolor sit amet, <br> 
          | consectetur adipisicing elit, <br> 
          | sed do eiusmod tempor. 
      .presentation-point.presentation-point__right
        .presentation-point__title Easy to customize
        .presentation-point-designator-wrap
          .presentation-point-designator-marker
            .presentation-point-designator-marker__circle
          .presentation-point-designator__line
        p.descr.presentation-point__descr
          | Lorem ipsum dolor sit amet, <br> 
          | consectetur adipisicing elit, <br> 
          | sed do eiusmod tempor. 