section.use
  .container.container__use
    .use__content
      .use-text
        h2.title.title__use-text All You need is a browser!
        p.descr.descr__use-text
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br>
          | tempor incididunt ut labore et dolore magna aliqua. <br><br> 
          | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi <br>
          | ut aliquip ex ea commodo consequat.
        ul.use-list
          li.use-list__item Lorem ipsum dolor sit amet consectetur
          li.use-list__item Lorem ipsum dolor sit amet consectetur
      .use-img
        img(src="assets/img/mockap.png", alt="mockap")