doctype html
html(lang="ru-RU")
  include ../includes/_head.pug
  include ../includes/_main.pug
  include ../includes/_use.pug
  include ../includes/_drap_drop.pug
  include ../includes/_template.pug
  include ../includes/_prices.pug
  include ../includes/_footer.pug
  include ../includes/_form.pug
  body
    script(src="assets/js/app.js")
    script(src="assets/js/vendors~app.js")